<p>Dear {{firstName}},</p>
<p>This is a reminder that your annual membership fee of ${{totalAmount}} and first month's add-on service charges are due on {{dueDate}}.</p>
<p>Thank you for being a part of Fitness+!</p>
